<h2>Poem Details </h2>

<p>
  <h3>Name:</h3>
  <h2><%= @poem.author_name %></h2>
  <h3>Title:</h3>
  <h2><%= @poem.title %></h2>
  <h3>Lines:</h3>
  <h2><%= @poem.lines %></h2>
</p>

Lists:
 <% @poem.lists.each do |list| %>
    <h2><%= list.owner_name %></h2>
 <% end %>

